@model ChallengeBoard.Web.ViewModels.HomeViewModel

<div class="dialog">
    <div class="dialog__inner">
        <strong class="dialog__lead">Vilken webbadress vill du ha till din bräda?</strong>       
        <form class="dialog__form form" action="/home/new" method="POST">
            <div class="form__item">
                <label class="hidden">Namn</label>
                @Html.TextBoxFor(m => m.UserName, new { @class= "form__item__textbox welcome__textbox-name", autocomplete="off", autofocus="autofocus" })
                <span class="form__item__textbox-placeholder">challenge.meridium.se/</span>
            </div> 
            <div class="form__error">
                @Html.ValidationMessageFor(m => m.UserName)
            </div>  
            <button type="submit" class="form__submit form__submit--wide button">Lets do this</button>
        </form>
    </div>
</div>