.dialog {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:flex;
    align-items:center;
    justify-content:center;
}
.dialog__inner {
    background:#fff;
    width:465px;
    height:470px;
    margin:-20px auto 0;
}