.leaderboard {
    position:absolute;
    top:96px;
    left:0;
    right:0;
    padding-bottom:120px;
    background:#fff;
    z-index:9999;
    opacity:0;
    transition:transform 200ms ease-out, opacity 300ms;           
    transform:translateY(15px);
    box-shadow:0 30px 30px -20px rgba(0,0,0,0.1);
}
.leaderboard--init {
    opacity:1;
    transform:translateY(0);
}
.leaderboard__result {
    width:850px;
    margin:0 auto;
    margin-top:100px;
    border-top:1px solid #eae3f1;
    td {
        font-size:20px;
        text-transform:uppercase;
        font-weight:600;
        color:#4f3e63;
        border-bottom:1px solid #eae3f1;
        line-height:65px;
        padding:0;
    }   
    td:first-child {
        width:50px; 
        padding-left:20px;       
    }
    td:last-child {
        text-align:right;
        padding-right:20px;
    }
}